# Data preprocessing

In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
file = r"C:\Users\glabm\Desktop\Credit approval project\Credit-approval-project\data\01_raw\loan_approval_dataset.json"
df = pd.read_json(file)
print(df.head())

   Id   Income  Age  Experience Married/Single House_Ownership Car_Ownership  \
0   1  1303834   23           3         single          rented            no
1   2  7574516   40          10         single          rented            no
2   3  3991815   66           4        married          rented            no
3   4  6256451   41           2         single          rented           yes
4   5  5768871   47          11         single          rented            no

            Profession                 CITY           STATE  CURRENT_JOB_YRS  \
0  Mechanical_engineer                 Rewa  Madhya_Pradesh                3
1   Software_Developer             Parbhani     Maharashtra                9
2     Technical_writer            Alappuzha          Kerala                4
3   Software_Developer          Bhubaneswar          Odisha                2
4        Civil_servant  Tiruchirappalli[10]      Tamil_Nadu                3

   CURRENT_HOUSE_YRS  Risk_Flag
0                 13          0
1                 13          0
2                 10          0
3                 12          1
4                 14          1

In [31]:
print(df.info())
print(df.isna().sum())
print(df.duplicated().sum())

<class 'pandas.core.frame.DataFrame'>
Index: 252000 entries, 0 to 251999
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Id                 252000 non-null  int64
 1   Income             252000 non-null  int64
 2   Age                252000 non-null  int64
 3   Experience         252000 non-null  int64
 4   Married/Single     252000 non-null  object
 5   House_Ownership    252000 non-null  object
 6   Car_Ownership      252000 non-null  object
 7   Profession         252000 non-null  object
 8   CITY               252000 non-null  object
 9   STATE              252000 non-null  object
 10  CURRENT_JOB_YRS    252000 non-null  int64
 11  CURRENT_HOUSE_YRS  252000 non-null  int64
 12  Risk_Flag          252000 non-null  int64
dtypes: int64(7), object(6)
memory usage: 26.9+ MB
None
Id                   0
Income               0
Age                  0
Experience           0
Married/Single       0
House_Ownership      0
Car_Ownership        0
Profession           0
CITY                 0
STATE                0
CURRENT_JOB_YRS      0
CURRENT_HOUSE_YRS    0
Risk_Flag            0
dtype: int64

             Income            Age     Experience  CURRENT_JOB_YRS  \
count  2.520000e+05  252000.000000  252000.000000    252000.000000
mean   4.997117e+06      49.954071      10.084437         6.333877
std    2.878311e+06      17.063855       6.002590         3.647053
min    1.031000e+04      21.000000       0.000000         0.000000
25%    2.503015e+06      35.000000       5.000000         3.000000
50%    5.000694e+06      50.000000      10.000000         6.000000
75%    7.477502e+06      65.000000      15.000000         9.000000
max    9.999938e+06      79.000000      20.000000        14.000000

       CURRENT_HOUSE_YRS
count      252000.000000
mean           11.997794
std             1.399037
min            10.000000
25%            11.000000
50%            12.000000
75%            13.000000
max            14.000000