### Exploratory Data Analysis

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
df1 = pd.read_csv('data/02_interim/categorical_data.csv')
df2 = pd.read_csv('data/02_interim/numerical_data.csv')

print(df1.head())
print(df2.head())

  Married/Single House_Ownership           Profession                 CITY  \
0         single          rented  Mechanical_engineer                 Rewa
1         single          rented   Software_Developer             Parbhani
2        married          rented     Technical_writer            Alappuzha
3         single          rented   Software_Developer          Bhubaneswar
4         single          rented        Civil_servant  Tiruchirappalli[10]

            STATE
0  Madhya_Pradesh
1     Maharashtra
2          Kerala
3          Odisha
4      Tamil_Nadu
    Income  Age  Experience  CURRENT_JOB_YRS  CURRENT_HOUSE_YRS
0  1303834   23           3                3                 13
1  7574516   40          10                9                 13
2  3991815   66           4                4                 10
3  6256451   41           2                2                 12
4  5768871   47          11                3                 14

In [11]:
print(df2.describe().round(2))

           Income        Age  Experience  CURRENT_JOB_YRS  CURRENT_HOUSE_YRS
count   252000.00  252000.00   252000.00        252000.00           252000.0
mean   4997116.67      49.95       10.08             6.33               12.0
std    2878311.01      17.06        6.00             3.65                1.4
min      10310.00      21.00        0.00             0.00               10.0
25%    2503015.00      35.00        5.00             3.00               11.0
50%    5000694.50      50.00       10.00             6.00               12.0
75%    7477502.00      65.00       15.00             9.00               13.0
max    9999938.00      79.00       20.00            14.00               14.0